@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

    *{
        margin: 0;
        padding: 0;
    }
    /*-----------------------------------------INDEX-----------------------------------*/
    .pagina-1{
        font-family: "Poppins", sans-serif;
    }
    
    .navegacion{
        background-color: gray;
    }

    .nav-1{
        background-color: gray;
        color: white;
        font-weight: 700;
    }

    .nav-link{
        color: white;    
    }

    /*----------------------------MAIN-----------------------------------*/
    .subtitulo{
        margin-top: 50px;
    }

    .subtitulo{
        margin-bottom: 5px;
    }

    .subtitulo{
        text-align: center;
        color: white;
        width: 100%;
        height: 400px;
        background-image: url(../img/pavel-untilov-0ZEn9RKVYNg-unsplash.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        
    }
    .subtitulo h1{
        font-size: 40px;
    }
    .subtitulo{
        text-align: center;
    }
    h2{
        text-align: center;
    }

    .carousel-inner img{
        object-fit: cover;
    }

    .boton{
        background-color: yellow;
        border: none;
        color: black;
        padding: 15px 10px;
        font-size: 15px;
        font-weight: bold;
        position: relative;
        border-radius: 15px;
        margin-bottom: 5px;
    }

    .boton:hover{
        background-color: black;
        color: white;
    }
    
    .contenedor-mercaderia div{
        display: flex;
        justify-content: center;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        margin-bottom: 10px;
    }

    .mercaderia h3{
        color: black;
    }

    .mercaderia p{
        color: black;
    }

    .mercaderia{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        flex-wrap: wrap;
    }

    .contenedor-bebidas div{
        display: flex;
        justify-content: center;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        margin-bottom: 15px;
    }

    .mercaderia-1{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        flex-wrap: wrap;
    }

    .mercaderia-1{
        border: 2px solid black;
    }

    .mercaderia{
        border: 2px solid black;
    }

    .bebidas{
        width: 100px;
        height: 300px;
    }

    .chocolates{
        width: 300px;
        height: 200px;
    }

    main{
        background-color: white;
    }

    main section div div img{
        width: 300px;
        height: 300px;
    }


    /*-------------------------FOOTER-----------------------------------*/
    footer{
        background-color: black;
        }
    
    footer{
        padding: 5px;
    }

    footer ul{
        text-align: center;
        display: flex;
        flex-direction: row;
        margin-bottom: 14px;
    }

    footer ul li a{
        text-decoration: none;
        color: white;
    }

    footer ul li{
        list-style: none;
        width: 60%;
    }

    footer div img{
        display: grid;
        place-self: center;
        width: 200px;
        height: 100px;
    }
    footer div p{
        text-align: center;
        color: blue;
    }

    footer .iconos{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    footer i{
        font-size: 40px;
        color: white;
        margin: 5px;
    }

    /*---------------------------------Productos----------------------------------*/
    .inicio-productos {
        font-family: "Poppins", sans-serif;
    }
    .inicio-productos header{
        background-color: black;
    }
    .inicio-productos header h1{
        text-align: center;
        color: white;
    }
    .inicio-productos header div nav ul li a{
        text-decoration: none;
        color: white;
    }
    .inicio-productos header div nav ul li{
        list-style: none;
    }
    .inicio-productos header h2{
        text-align: center;
        color: white;
        }
        
    .iniciocho-productos h2{
        font-size: 40px;
    } 
    /*---------------------------------MAIN----------------------------------*/
    main h1{
        text-align: center;
        margin-top: 55px;
        margin-bottom: 20px;
    }
    
    .subtitulo-productos{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 50px;
    }

    main h3{
        text-align: center;
        margin-bottom: 15px;
    }

    .subtitulo-productos img{
        width: 350px;
        height: 400px;
        
    }

    .productos-grid{
        background-color: black;
    }

    .productos-grid{
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr; 
        grid-auto-rows: 250px;
        gap: 15px;
        margin-bottom: 10px;
    }

    .grid-img img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .img-1{
        grid-row: span 2;
    }

    .img-2{
        grid-row: span 2;
    }
    /*---------------------------------CONTACTO----------------------------------*/
    .texto{
        font-family: "Poppins", sans-serif;
    }
    .inicio-contacto{
        background-color: black;
    }
    .inicio-contacto h1{
        text-align: center;
        color: white;
    }
    .inicio-contacto div nav ul li a{
        text-decoration: none;
        color: white;
    }
    .inicio-contacto div nav ul li{
        list-style: none;
    }
    .inicio-contacto h2{
        text-align: center;
        color: white;
        width: 100%;
        height: 400px;
        background-image: url(../img/pavel-untilov-0ZEn9RKVYNg-unsplash.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    .inicio-contacto h2{
        font-size: 40px;
    }
    /*---------------------------------MAIN----------------------------------*/
    .trabaja section div h2{
        text-align: center;
        font-size: 40px;
        color: white;
    }
    .trabaja div p{
        text-align: center;
        color: black;
        font-size: 20px;
    }
    .trabaja p{
        color: white;
        font-size: 20px;
    }
    /*---------------------------------BEBIDAS----------------------------------*/
    .subtitulo-bebidas{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 30px;
    }

    .subtitulo-bebidas img{
        width: 400px;
        height: 500px;
    }

    .bebidas-1 div{
        display: flex;
        justify-content: center;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        margin-bottom: 0px;
        margin: 100px;
    }

    .bebidas-2{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        flex-wrap: wrap;
    }
    
    .bebidas-2{
        border: 2px solid black;
    }
    /*---------------------------------RESPONSIVE PAG 1----------------------------------*/
    @media screen and (max-width:749px){
        .contenedor-bebidas div{
            flex-direction: column;
        }
    }
    
    @media screen and (max-width:749px){
        header nav ul{
            flex-direction: column;
            align-items: center;
        }
    }

    @media screen and (max-width:749px){
        main .contenedor-mercaderia div .mercaderia .bebidas{
            flex-direction: column;
        }
    }

    @media screen and (max-width:700px){
        .subtitulo h2{
            font-size: 30px;
        }
    }

    @media screen and (max-width:749px){
        footer ul{
            flex-direction: column;
            align-items: center;
        }
    }

    /*---------------------------------RESPONSIVE PAG 2----------------------------------*/
    @media screen and (max-width:768px){
        .subtitulo-productos{
            flex-direction: column;
        }
        .subtitulo-productos img{
            display: none;
        }
    }