/*MAIN DE PAGINA PRINCIPÁL*/
.subtitulo{
    margin-top: 50px;
}

.subtitulo{
    margin-bottom: 5px;
}

.subtitulo{
    @extend %text-center;
    color: white;
    width: 100%;
    height: 400px;
    background-image: url(../img/pavel-untilov-0ZEn9RKVYNg-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}
.subtitulo h1{
    font-size: 40px;
}
.subtitulo{
    @extend %text-center;
}
h2{
    @extend %text-center;
}

.carousel-inner img{
    object-fit: cover;
}

.boton{
    background-color: yellow;
    border: none;
    color: black;
    padding: 15px 10px;
    font-size: 15px;
    font-weight: bold;
    position: relative;
    border-radius: 15px;
    margin-bottom: 5px;
}

.boton{ 
    &:hover{
    background-color: black;
    color: white;}
}

.contenedor-mercaderia div{
    @include flex(flex, center, space-around,center,wrap );
    margin-bottom: 10px;
}

.mercaderia h3{
    color: black;
}

.mercaderia p{
    color: black;
}
.mercaderia{
    display: inline-block;
    padding: 20px;
    text-align: center;
    transition: transform 0,3s ease;

    &:hover {
        transform: scale(1.04);
        img, h3, p, button{
            transform: scale(1.1);
        }
    }
    img, h3, p, button {
        transition: transform 0,3s ease;
    }
}
.mercaderia{
    @extend %border-solid;
    @include flex(flex, column,center, center,wrap);
    @extend %text-center;
}

.contenedor-bebidas div{
    @include flex(flex,center,space-around,center,wrap);
    margin-bottom: 15px;
}

.mercaderia-1{
    @extend %border-solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    @extend %text-center;
}
.mercaderia-1{
    display: inline-block;
    padding: 20px;
    text-align: center;
    transition: transform 0,3s ease;

    &:hover {
        transform: scale(1.04);
        img, h3, p, button{
            transform: scale(1.1);
        }
    }
    img, h3, p, button {
        transition: transform 0,3s ease;
    }
}

.bebidas{
    width: 100px;
    height: 300px;
}

.chocolates{
    width: 300px;
    height: 200px;
}

main{
    background-color: white;
}

main section div div img{
    width: 300px;
    height: 300px;
}

/*MAIN DE PAGINA PRODUCTOS*/
main h1{
    @extend %text-center;
    margin-top: 55px;
    margin-bottom: 20px;
}

.subtitulo-productos{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

main h3{
    @extend %text-center;
    margin-bottom: 15px;
}

.subtitulo-productos p{
    margin-left: 20px;
}

.subtitulo-productos img{
    margin: 20px;
    width: 350px;
    height: 400px;
    
}

.productos-grid{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr; 
    grid-auto-rows: 250px;
    gap: 15px;
}
main h2{
    margin-top: 30px;
}
.grid-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0,3s ease;
}
.grid-img img:hover{
    transform: scale(1.1);
}

.img-1{
    grid-row: span 2;
}

.img-2{
    grid-row: span 2;
}

/*MAIN DE PAGINA BEBIDAS*/
.subtitulo-bebidas{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    margin-left: 30px;
}

.subtitulo-bebidas img{
    margin: 20px;
    width: 400px;
    height: 500px;
}
.bebidas-1 h2{
    margin-bottom: 20px;
}
.bebidas-1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-left: 20px;
    margin: 10px;
}
.bebidas-1 div div img{
    width: 100px;
    height: 300px;
}
.columna-1{
    display: flex;
    flex-wrap: wrap;
    gap: 200px;
}
.p-3 {
    display: inline-block;
    padding: 20px;
    text-align: center;
    transition: transform 0,3s ease;

    &:hover {
        transform: scale(1.04);
        img, h3, p, button{
            transform: scale(1.1);
        }
    }
    img, h3, p, button {
        transition: transform 0,3s ease;
    }
}

/*MAIN DE PAGINA CONTACTOS*/
.trabaja{
    background-color: white;
    padding: 30px;
    border-radius: 5px
}

.trabaja section div h2{
    @extend %text-center;
    font-size: 40px;
    color: black;
}
.trabaja div p{
    @extend %text-center;
    color: black;
    font-size: 20px;
}
.trabaja p{
    color: black;
    font-size: 20px;
}
.trabaja section div form{
    background-color: wheat;
    padding: 50px;
    border-radius: 10px;
}
.trabaja section div{
    margin-bottom: 10px;
    text-align: left; 
}
.trabaja section form{
    background-color: wheat;
    border: solid;
    border-radius: 20px;
    border-width: 0.2;
    padding: 5px;
}
/*MAIN DE PAGINA NOSOTROS*/
.nosotros{
    margin-top: 80px;
}
.nosotros div{
    margin-right: 15px;
    margin-left: 30px;
}
.nosotros section{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}
.nosotros section img{
    margin: 20px;
}
.nosotros section img{
    width: 400px;
    height: 500px;
}